.button {
    display: block;
    padding: 16px;
    background:      #57a6d0;
    border: none;
    border-radius: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 16px;
    color: #FFFFFF;
    cursor: pointer;
}

.button:hover {
    opacity: 0.9;
}


.addToFavBtn {
    padding: 10px;
    font-size: 12px;
}

.addToFavBtn:active {
    padding: 8px;
}

.loginBtn {
    width: 50%;
    margin: 0 auto;
    margin-top: 16px;
}
