/* ------------------- General ------------------- */

body {
    font-family: "Roboto", sans-serif;
    color: #161616;
    margin: 0;

    padding-bottom: 140px;
}

.notAuth {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: aqua; */
}



/* Для экранов с шириной от 0 до 1170px */
@media (max-width: 1170px) {
    .socialIconLink {
        margin-right: 15px;
        margin-bottom: 15px;
    }
}

/* ------------------- Footer ------------------- */

.footer {
    padding-top: 5px;
    padding-bottom: 30px;
}

.footerCtaTitle {
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-bottom: 25px;
    display: inline-block;
}

.footerText {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.43px;
}

.footerText a {
    color: #4298e8;
    text-decoration: underline;
}

.footerCtaText {
    margin: 0;
    font-size: 36px;
    font-weight: 100;
    letter-spacing: 0.43px;
}

.footerCtaText a {
    color: #4298e8;
    text-decoration: underline;
}

/* Для экранов с шириной от 0 до 1170px */
@media (max-width: 1170px) {
    .footerCtaTitle {
        font-size: 26px;
        margin-bottom: 15px;
    }

    .footerCtaText {
        font-size: 22px;
    }
}

.footerInner {
    text-align: center;
    padding-bottom: 80px;
}

.textCenter {
    text-align: center;
}

/* Calc */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

/* ------------------- Calc ------------------- */
.calcWrapper {
    padding-top: 50px;
    padding-bottom: 75px;
    max-width: 1000px;
    margin: 0 auto;
}

.sliderWrapper {
    width: 450px;
    height: 350px;
    background-color: #f1f1f1;
}

.heading {
    margin-bottom: 50px;
    text-align: center;
}

.headingTitle {
    margin-bottom: 15px;
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.48px;
    text-align: center;
}



.calcSection {
    padding: 40px 50px;
    background-color: #f4f8fa;
    display: flex;
    justify-content: space-between;
}

.calcSection:nth-child(odd) {
    padding: 40px 50px;
    background-color: #fff;
}

.calcTitleLight {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 15px;
}

.title__inline {
    display: inline-block;
    vertical-align: middle;
}

.title__inline + .title__inline {
    margin-left: 10px;
}

.inputShort {
    width: 20px;
}

.radioWrapper {
    display: flex;
    /* align-items: center; */
}

.radioWrapper .radio {
    margin-top: 9px;
}

.radioWrapper:not(:last-child) {
    margin-bottom: 30px;
}

.radioWrapper .radio {
    margin-right: 15px;
    margin-top: 6px;
}

/* .radio-holder {
	margin-right: 15px;
}

.radio-holder input{
	margin-top: 6px;
} */

/* .radio {
	margin-right: 15px;
} */

.inputWrapper {
    display: flex;
    margin-bottom: 40px;
}

.inputWrapper:last-child {
    margin-bottom: 0;
}

.inputShort {
    width: 62px;
    height: 36px;
    border-radius: 4px;
    border: 1px solid #9a9a9a;
    font-size: 24px;
    font-weight: 700;
    color: #039be5;
    text-align: center;
}

.inputWrapper .inputShort:first-child {
    margin-right: 20px;
}

.inputWrapper .inputShort:last-child {
    margin-left: 20px;
}

/* ------------ TYPO ------------ */

.sectionTitle {
    margin-bottom: 20px;
}

.sectionTitleVerticalCenter {
    align-items: center;
}

.titleBold {
    font-size: 24px;
    font-weight: 700;
}

.titleLite {
    font-size: 20px;
    font-weight: 300;
}

.note {
    display: block;
    font-weight: 300;
    font-style: italic;
    padding-top: 10px;
    font-size: 16px;
    color: #969696;
}

/* ------------ FORMS ------------ */

.checkboxWrapper {
    display: flex;
    margin-bottom: 20px;
}

.checkboxWrapper .checkbox {
    margin-right: 15px;
}

/* ------------ PRICE ------------ */
.calcPrice {
    padding: 30px 50px;
    /* border: 10px solid #7ac5ea; */

    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    /*background-color: rgb(218, 243, 255);*/
    background-color: white;
    box-shadow: -10px 0 25px rgba(143, 179, 195, 0.685);
}

.calcPriceTitle {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}

.calcPriceValue {
    font-size: 26px;
    font-weight: 300;
}

.hidden {
    display: none;
}

.rangeInput {
    width: 100%;
}

.roomsWrapper {
    display: flex;
    /*flex-direction: start;*/
    align-items: center;
}


.roomsRadioReal {
    opacity: 0;
    appearance: none;
    height: 0;
    width: 0;
    margin: 0;
}

.roomsRadioFake {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #e2e2e2;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
    /* font-weight: bold; */
    cursor: pointer;
}

.roomsRadioReal:checked + .roomsRadioFake {
    background-color: #fbd422;
}

.sliderWrapper > img {
    width: 450px;
    height: 350px;
}

.sliderWrapper .slickArrow::before {
    color: #5f858d;
}
